.Register form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Register input {
    width: 100px;
}

.Register span{
    color:red;
    font-family: 900px;
}

.Register button:disabled{
    cursor: not-allowed;
    background-color: gray;
    font-size: 16px !important;
    width: 80px !important;
}

.Register > button {
    font-size: 16px !important;
}